/* bai-jamjuree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bai-jamjuree-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bai-jamjuree-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/bai-jamjuree-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Bai Jamjuree", sans-serif;
}

h1, h2, h3 {
  color: #4C545C;
  font-weight: 900;
}

h1 {
  font-size: 4.6rem;
  line-height: 57.5px;
}

h2 {
  font-size: 3.6rem;
  line-height: 45px;
}

h3 {
  font-size: 2.4rem;
  line-height: 30px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top 50% center;
     object-position: top 50% center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1540px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5019607843);
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.1529411765) inset;
  border-radius: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.green__btn {
  padding: 13px 36px;
  background-color: #26BBA4;
}

.green__btn:hover {
  opacity: 0.8;
}

.blue__btn {
  padding: 13px 35px;
  background-color: #6174FF;
}

.blue__btn:hover {
  opacity: 0.8;
}

.header__background {
  z-index: 0;
  position: absolute;
}

.header__container {
  text-align: center;
  padding-top: 131px;
  margin-bottom: 150px;
}

.site__logo {
  margin-bottom: 56px;
}

.header__title {
  margin-bottom: 16px;
}

.header__description {
  width: 730px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  color: #9EABB2;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.header__link__left {
  margin-right: 16px;
}

main {
  flex-grow: 1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.hero__content {
  text-align: center;
}

.hero__title {
  margin-bottom: 19px;
}

.hero__description {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  color: #9EABB2;
  font-size: 18px;
  margin-bottom: 80px;
}

.hero__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__middle img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__list {
  width: 350px;
}

.hero__item {
  margin-bottom: 56px;
}

.hero__item__title {
  margin-bottom: 8px;
}

.hero__item__description {
  font-size: 16px;
  letter-spacing: 0.12px;
  color: #9EABB2;
}

.clipboard__container {
  margin-bottom: 161px;
}

.clipboard__content {
  text-align: center;
}

.clipboard__title {
  margin-bottom: 19px;
}

.clipboard__description {
  font-weight: 400;
  color: #9EABB2;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}

.clipboard__container img {
  margin-right: auto;
  margin-left: auto;
}

.workflow__container {
  margin-bottom: 150px;
}

.workflow__text__wrapper {
  text-align: center;
  margin-bottom: 72px;
}

.workflow__title {
  margin-bottom: 19px;
}

.workflow__description {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.14px;
  color: #9EABB2;
}

.workflow__services__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.workflow__services__item {
  text-align: center;
  width: 350px;
}

.workflow__services__item img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.workflow__item__title {
  margin-bottom: 16px;
}

.workflow__item__description {
  width: 350px;
  font-size: 16px;
  letter-spacing: 0.12px;
  color: #9EABB2;
}

.companies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download__container {
  margin-bottom: 150px;
}

.download__text__wrapper {
  text-align: center;
  margin-bottom: 48px;
}

.download__title {
  margin-bottom: 19px;
}

.download__description {
  width: 730px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  letter-spacing: 0.14px;
  color: #9EABB2;
}

.download__button__wrapper {
  text-align: center;
}

.downlod__link__left {
  margin-right: 16px;
}

.footer {
  background: rgba(158, 171, 178, 0.12);
}

.footer__container {
  display: flex;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 51px;
}

.footer__img {
  width: 55px;
  height: 55px;
  margin-right: 135px;
}

.footer__list__wrapper {
  display: flex;
  margin-right: auto;
}

.footer__list {
  margin-right: 150px;
}

.footer__item {
  cursor: pointer;
  margin-bottom: 12px;
}

.footer__item:hover {
  color: #26BBA4;
}

.footer__links__wrapper i {
  color: #4C545C;
  margin-right: 24px;
  cursor: pointer;
}

.footer__links__wrapper i:hover {
  color: #26BBA4;
}

.footer__links__wrapper i:last-child {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */