*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    display: flex;
    object-fit: cover;
    object-position: top 50% center;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1540px;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    box-shadow: 0px 10px 20px 0px #89E5C780;
    box-shadow: 0px -3px 0px 0px #00000027 inset;
    border-radius: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: $white-color;
}

.green__btn{
    padding: 13px 36px;
    background-color: $green-button-color;   
}

.green__btn:hover{
    opacity: 0.8;
}

.blue__btn{
    padding: 13px 35px;
    background-color: $blue-button-color;
}

.blue__btn:hover{
    opacity: 0.8;
}